html { height: 100%; }
body {
    padding: 0;
    margin: 0;
    background-color: #FFF;
    height: 100%;
    height: 100%;
    color: #3C5F6F;
}
.funfic .container-fluid,
.funfic .row,
.funfic .col
{
    height: 100%;
}
#result {
    width: 100%;
    height: 100%;
}



/*
Bootstrapi
*/
.btn,
.btn.active,
.btn:active,
.btn:focus{
    background-color: #3C5F6F;
    border-color: #3C5F6F;
    color: #FDE4E7;
}
.btn:active,
.btn:focus,
.btn.active:focus,
.btn:active:focus{
    box-shadow: 0 0 0 0.2rem #3C5F6F !important;
}

.btn:hover{
    background-color: #637F8B;
    border-color: #637F8B;
    color: #FEF4F5;
}

.btn-primary,
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus{
    background-color: #c8ea98;
    border-color: #c8ea98;
    color: #3c6f58;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus{
    box-shadow: 0 0 0 0.2rem #c8ea98 !important;
}

.btn-primary:hover{
    background-color: #DEF2C1;
    border-color: #DEF2C1;
    color: #8AA89A;
}


.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.btn-secondary:focus{background-color: #FBCBCF;
    border-color: #FBCBCF;
    color: #3C5F6F;
    /* background-color: #F6D6B3;
    border-color: #F6D6B3;
    color: #9D423A; */
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.active:focus,
.btn-secondary:active:focus{
    box-shadow: 0 0 0 0.2rem #fdf2f3 !important;
    /* box-shadow: 0 0 0 0.2rem #F6D6B3 !important; */
}

.btn-secondary:hover{
    background-color: #FCDFE2;
    border-color: #FCDFE2;
    color: #768F9A;
    /* background-color: #F9E6D1;
    border-color: #F9E6D1;
    color: #C48D88; */
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #FEF4F5AA;
}
.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #FEF4F5AA;
}
.form-range::-webkit-slider-thumb {
    background-color: #FBCBCF;
}
.form-range::-webkit-slider-thumb:active {
    background-color: #FEF4F5;
}
.form-range::-moz-range-thumb {
    background-color: #FCDFE2;
}

.accordion-button:not(.collapsed) {
    color: #3C5F6F;
    background-color: #D8DFE2;
}

.bg-secondary {
    background-color: #3C5F6F!important;
}


.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-light:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}
.btn-check:focus + .btn-light,
.btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-check:active + .btn-light,
.btn-check:checked + .btn-light,
.btn-light.active,
.btn-light:active,
.show > .btn-light.dropdown-toggle {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}
.btn-check:active + .btn-light:focus,
.btn-check:checked + .btn-light:focus,
.btn-light.active:focus,
.btn-light:active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light.disabled,
.btn-light:disabled {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}


/*
MENU
*/
.menu {
    width: 80px;
}
.menu ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu ol li{
    padding: 10px;
}
.menu ol li a{
    display: block;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    height: 60px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/*
ICONS
*/
.menu ol li a#newBtn{
    background-image: url(../images/icones2/add.png);
}
.menu ol li a#newBtn:hover{
    background-image: url(../images/icones/add.png);
}

.menu ol li a#backgroundBtn{
    background-image: url(../images/icones2/background.png);
}
.menu ol li a#backgroundBtn:hover{
    background-image: url(../images/icones/background.png);
}

.menu ol li a#textBtn{
    background-image: url(../images/icones2/txt.png);
}
.menu ol li a#textBtn:hover{
    background-image: url(../images/icones/txt.png);
}

.menu ol li a#imageBtn{
    background-image: url(../images/icones2/img.png);
}
.menu ol li a#imageBtn:hover{
    background-image: url(../images/icones/img.png);
}

.menu ol li a#drawBtn{
    background-image: url(../images/icones2/draw.png);
}
.menu ol li a#drawBtn:hover{
    background-image: url(../images/icones/draw.png);
}

.menu ol li a#bubbleBtn{
    background-image: url(../images/icones2/balao.png);
}
.menu ol li a#bubbleBtn:hover{
    background-image: url(../images/icones/balao.png);
}

.menu ol li a#helpBtn{
    background-image: url(../images/icones2/help.png);
}
.menu ol li a#helpBtn:hover{
    background-image: url(../images/icones/help.png);
}

.menu ol li a#saveBtn{
    background-image: url(../images/icones2/down.png);
}
.menu ol li a#saveBtn:hover{
    background-image: url(../images/icones/down.png);
}

/*Tooltip*/
.tooltip {
    font-size: 16px;
    font-weight: bold;
}
.tooltip.show {
    opacity: 1;
}
.tooltip-inner{
    background-color: #FBCBCF;
    color: #3C5F6F;

}
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before{
    border-right-color: #FBCBCF;
}



/*Template*/
.container-buttons .btn{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/*Modal*/
.modal-backdrop.show{
    opacity: 0;
}

/*Errors*/
#errorsBtn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#errorList{
    position: fixed;
    bottom: 50px;
    right: 0px;
    padding: 10px;
    z-index: 11;
    max-width: 100%;
}

#errorContent {
    background: #f5c2c7;
    color: #842029;
}

/*bootstrap medium layout*/
@media screen and (max-width: 767px) {
    .funfic .col
    {
        height: 50%;
    }
    .menu {
        width: 40px;
    }
    .menu ol li a{
        height: 30px;
    }
    .menu ol li{
        padding: 5px;
    }
    /*Disabilita o tooltip*/
    .tooltip {
        display: none !important;
     }
}