html { height: 100%; }
body {
    padding: 0;
    margin: 0;
    background-color: #FFF;
    height: 100%;
    height: 100%;
}
.funfic .container-fluid,
.funfic .row,
.funfic .col
{
    height: 100%;
}
#result {
    width: 100%;
    height: 100%;
}

/*
MENU
*/
.menu {
    width: 80px;
}
.menu ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu ol li{
    padding: 10px;
}
.menu ol li a{
    display: block;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    height: 60px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/*
ICONS
*/
.menu ol li a#newBtn{
    background-image: url(../images/icones2/add.png);
}
.menu ol li a#newBtn:hover{
    background-image: url(../images/icones/add.png);
}

.menu ol li a#backgroundBtn{
    background-image: url(../images/icones2/background.png);
}
.menu ol li a#backgroundBtn:hover{
    background-image: url(../images/icones/background.png);
}

.menu ol li a#textBtn{
    background-image: url(../images/icones2/txt.png);
}
.menu ol li a#textBtn:hover{
    background-image: url(../images/icones/txt.png);
}

.menu ol li a#imageBtn{
    background-image: url(../images/icones2/img.png);
}
.menu ol li a#imageBtn:hover{
    background-image: url(../images/icones/img.png);
}

.menu ol li a#drawBtn{
    background-image: url(../images/icones2/draw.png);
}
.menu ol li a#drawBtn:hover{
    background-image: url(../images/icones/draw.png);
}

.menu ol li a#bubbleBtn{
    background-image: url(../images/icones2/balao.png);
}
.menu ol li a#bubbleBtn:hover{
    background-image: url(../images/icones/balao.png);
}

.menu ol li a#helpBtn{
    background-image: url(../images/icones2/help.png);
}
.menu ol li a#helpBtn:hover{
    background-image: url(../images/icones/help.png);
}

.menu ol li a#saveBtn{
    background-image: url(../images/icones2/down.png);
}
.menu ol li a#saveBtn:hover{
    background-image: url(../images/icones/down.png);
}

/*Tooltip*/
.tooltip {
    font-size: 16px;
    font-weight: bold;
}
.tooltip.show {
    opacity: 1;
}
.tooltip-inner{
    background-color: #FBCBCF;
    color: #3C5F6F;

}
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before{
    border-right-color: #FBCBCF;
}



/*Template*/
.container-buttons .btn{
    background-color: #DDD;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.container-buttons .btn:hover{
    background-color: #BBB;
}

/*Modal*/
.modal-backdrop.show{
    opacity: 0;
}

/*Errors*/
#errorsBtn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#errorList{
    position: fixed;
    bottom: 50px;
    right: 0px;
    padding: 10px;
    z-index: 11
}

#errorContent {
    background: #f5c2c7;
    color: #842029;
}

/*bootstrap medium layout*/
@media screen and (max-width: 767px) {
    .funfic .col
    {
        height: 50%;
    }
    .menu {
        width: 40px;
    }
    .menu ol li a{
        height: 30px;
    }
    .menu ol li{
        padding: 5px;
    }
    /*Disabilita o tooltip*/
    .tooltip {
        display: none !important;
     }
}