html { height: 100%; }
body {
    padding: 0;
    margin: 0;
    background-color: #FFF;
    height: 100%;
    height: 100%;
}
.funfic .container-fluid,
.funfic .row,
.funfic .col
{
    height: 100%;
}
/*bootstrap medium layout*/
@media screen and (max-width: 767px) {
    .funfic .col
    {
        height: 50%;
    }
}
.menu ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu ol li a{
    background-color: blueviolet;
    display: block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}
.menu ol li a:hover{
    background-color:darkorchid;
}
#result {
    width: 100%;
    height: 100%;
}